.radio-btn-container input{
    display: none;
}

.radio-btn-container input:checked + .radio-btn{
    background-color: #e87a61;
    color:#fff;
}

.radio-btn{
    display: inline-block;
    width:125px;
    padding: 15px 6px;
    border:1px solid #ccc;
    cursor:pointer;
    font-weight: 200;
    border-radius: 4px;
    text-align: center;
    font-size:14px;
    margin-right:20px;
    margin-bottom:20px;
}

@media screen and (max-width:870px){
    .radio-btn-container{
        width:70%;
    }

    .radio-btn{
        width:100%;
    }
}


