.booking-summary-container{
    border:0.5px solid rgba(0,0,0,0.2);
    box-shadow: 2px 0px 5px rgba(0 0 0/20%),
    -2px 0px 5px rgba(0 0 0/20%);
    padding:30px 0;
    margin-top:10px;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
}

.summary-title-container legend{
    color: #e87a61 !important;
    font-weight:700;
    font-size:19px;
    text-align: center;
    padding: 5px 0 20px 0;
}

.summary-title{
    padding:0;
}

.summary-item-box{
    display:flex;
    margin: 10px 0 20px 0;
    width:100%;
    color: #ababab;
}

.summary-item-content{
    margin-left:30px;
    width:80%;
}

.summary-item-icon{
    width:20px;
    height:20px;
    background-color: #000;
}

.summary-item-list{
    width:100%;
}

.summary-item-list li{
    display:flex;
    justify-content: space-between;
    width:100%;
    margin-bottom:10px;
    font-size:16px;
}

