@font-face {
  font-family: 'Radhnika Bold';
  src: local('Radhnika Bold'), url(./font/radhnika/radhnika-next-bold.ttf) format('truetype');
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  min-width:320px;
  height:100%;
}

body{
  min-width:320px;
  height:100%;
}
